/* Existing CSS Styles */

/* Responsive adjustments */
@media (max-width: 768px) {
  .firstcontainer h1 {
    font-size: 2rem;
  }
  
  .header__link {
    padding: 1rem 0.5rem;
  }

  .buttontype {
    flex-direction: column;
    width: 100%;
  }

  .buttontype button {
    margin-bottom: 10px;
  }

  .reseaux {
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    top: unset;
    bottom: 10px;
  }
}
/* Existing CSS Styles */

/* Overlay Text Styles */
.firstcontainer {
  position: relative;
  margin: 0px !important;
  padding: 0px  !important; 
  width: 100%;
}

.firstcontainer h1 {
  font-size: 5rem;
  font-weight: 900;
  color: black;
}
.firstcontainer h2 {
  font-size: 2rem;
  font-weight: 900;
  color: black;
}
.overlay-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust the text color as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .firstcontainer{
    margin: 0px;
    padding: 0px ;
    margin-top: 98px;
  }
  .firstcontainer h1 {
    font-size: 1rem;
  }
  
  .header__link {
    padding: 1rem 0.5rem;
  }

  .buttontype {
    flex-direction: column;
    width: 100%;
  }

  .buttontype button {
    margin-bottom: 10px;
  }

  .reseaux {
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    top: unset;
    bottom: 10px;
  }
}




/* Responsive adjustments */
@media (max-width: 768px) {
  .overlay-text h1 {
    font-size: 2rem; /* Smaller font size for the title */
  }

  .overlay-text h2 {
    font-size: 1.5rem; /* Smaller font size for the subtitle */
  }

  .buttontype button {
    font-size: 0.8rem; /* Smaller font size for buttons */
    padding: 10px 15px; /* Smaller padding for buttons */
  }

  .reseaux i {
    font-size: 30px; /* Smaller size for icons */
  }
}

.buttontype {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons */
}

.buttontype button {
  margin-bottom: 10px;
}

.reseaux {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between icons */
}
