
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
 
body {
  background-color: #E7E7E7 !important; 
}


nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}
.partiegauche {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partiegauche img {
  border-radius: 50%;
  margin-right: 2rem;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.partiegauche a {
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}
.header__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sousnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 4rem;
}
.sousnav li {
  list-style: none;
}
.header__link {
  padding: 2rem 1rem;
  display: inline-block;

  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}
.header__link:hover {
  color: #999597;
}
.sousnav a {
  text-decoration: none;
}
.sousnav ul {
  margin-bottom: 0px;
}

/* Dans ton fichier Projet.css */
.project-item {
  transition: opacity 0.5s, transform 0.5s;
  display: none; /* Initiallement caché */
}

.project-item.show {
  opacity: 1;
  transform: scale(1);
  display: block;
}

.project-item.hide {
  opacity: 0;
  transform: scale(0.95);
  display: none;
}

.project-item {
  transition: opacity 0.5s, transform 0.5s;
  display: none; /* Initiallement caché */
}

.project-item.show {
  opacity: 1;
  transform: scale(1);
  display: block;
}

.project-item.hide {
  opacity: 0;
  transform: scale(0.95);
  display: none;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour les cartes */
  margin-top: 15px;
}
.card-img-top {
  width: 100%;
  height: 10vw !important;
  
}